.main-footer {
	height: 150px;
	width: 100%;
	background: #00bcf2;
	margin-top: 100px;
}

.main-footer ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	height: 93%;
  box-shadow: 0 -9px 20px 1px #d8d8d8;
}

.main-footer li {
	list-style-type: none;
	display: inline-block;
	margin-top: 25px;
}

.main-footer li a {
	color: white;
	text-decoration: none;
	padding: 30px;
	margin: 20px;
}

.main-footer li a:hover {
	text-decoration: underline;
}