.main-footer {
	height: auto;
	width: 100%;
	background: linear-gradient(#00bcf2, #607d8b);
	margin-top: 100px;
	padding: 25px 0 25px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 -9px 20px 1px #d8d8d8;
}

#contact-info {
	order: 2;
	width: 25%;
	padding: 0 25px 0 25px;
	text-align: right;
}

#map {
	order: 3;
	width: 300px;
  height: 300px;
  position: relative;
}

#aboutus {
	order: 1;
	width: 25%;
}