body {
	font-family: 'Roboto';
}
/*-----------------*\
	INDEX
	NAVBAR
\*-----------------*/
.banner-image {
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper {
	height: 220px;
	margin-bottom: 0;
	text-align: center;
  box-shadow: 0px 10px 82px #d8d8d8;
}

.cart {
  font-size: 2.5em;
  position: relative;
  float: right;
  top: -35px;
  color: black;
  padding: 10px;
  right: 20px;
}

.cart h5 {
	font-family: 'Roboto';
}

#logo-img {
	padding:17px;
	position: absolute;
	left: 39%;
}

.log-in {
	text-decoration: none;
	color: black;
}

.try {
	height: 400px;
}

.navbar {
	top: 220px;
	display: block;
	position: absolute;
	float: none;
	width: 100%;
	background: #00bcf2;
	border-radius: 0;
	z-index: 2;
  align-items: center;
  box-shadow:0px 12px 35px rgba(0, 0, 0, 0.15);
}

.navbar a{
	vertical-align: middle;
	/*height: 75px;*/
  display: inline-block;
  position: relative;
  float: none;
  left: 15px;
  color: white;
  font-size: 1em;
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
  width: 10.7%;
}

.navbar a:hover {
	/*background: #03a9f4;*/
	height: 100%;
}

.navbar-item {
	width: 10%;
}

.search {
	position: relative;
	float: right;
	font-size: 2em;
	text-align: center;
	padding: 12px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
/*.sticky + .content {
  padding-top: 100px;
}
*/
/*-----------------*\
	PRODUCTPAGE
\*-----------------*/

.name {
	grid-column: 1/5;
	font-size: 3em;
	text-align: center;
}


/*-----------------*\
	PRODUCT
\*-----------------*/
#available {
  position: relative;
  width: 50%;
  text-align: center;
  float: right;
}

#bestelbtn {
	background-color: #01bf01;
	font-weight: bold;
	font-size: 1.3em;
	color: #fff;
	border: none;
	border-radius: 10px;
	height: 45px;
	width: 90%;
	position: absolute;
	outline: none;
	
}

#bestelbtn:hover{
	background: #068206;
	position: absolute;
	outline: none;
}

#bestelamnt {
		position: relative;
	top: 145px;
	left: 37px;
}

#bestelamnt input {
/*	position: relative;
	top: 145px;*/
	left: 37px;
	width: 15%;
	height: 40px;
}

.content {
	padding: 80px 10px;
	height: 100%;
}

.product-name {
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 2em;
	margin: 20px 0;
}

.product-description {
	position: relative;
	float: right;
	top: -300px;
	width: 45%;
	height: 300px;
	padding: 5px 15px;
	margin-right: 200px;
}

.product-description p{
	display: block;
}

.product-price {
	font-size: 1.5em;
	position: relative;
	top: 120px;
}

.picture {
	height: 400px;
	width: 400px;
	border: 2px dotted black;
	margin-left: 100px;
}

.outer-slide-container {
  position: relative;
  max-width: 400px;
  margin-left: 100px;
}


/*----------------------------*\
	LANDINGHEADER 
\*----------------------------*/

#banner-img {
max-width: -webkit-fill-available;
}

#logo-img-landing {
	position: absolute;
	top: 200%;
  right: 40%;
}

.image-header {
	width: 100%;
	height: 85px;
	position: relative;
}

#slogan {
	font-size: 2em;
	position: absolute;
  top: 400px;
	left: 43%;
}