body {
	font-family: 'Roboto';
}
/*-----------------*\
	INDEX
	NAVBAR
\*-----------------*/
.banner-image {
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper {
	height: 220px;
	margin-bottom: 0;
	text-align: center;
  box-shadow: 0px 10px 82px #d8d8d8;
}

.cart {
  font-size: 2.5em;
  position: relative;
  top: -35px;
  color: black;
  padding: 10px;
  right: 20px;
  float: right !important
}

.cart h5 {
	font-family: 'Roboto';
}

#logo-img {
	padding:17px;
	position: absolute;
	left: 39%;
}

.log-in {
	text-decoration: none;
	color: black;
}

.try {
	height: 400px;
}

.navbar {
	top: 220px;
	display: block;
	position: absolute;
	float: none;
	width: 100%;
	background: #00bcf2;
	border-radius: 0;
	z-index: 2;
  align-items: center;
  box-shadow:0px 12px 35px rgba(0, 0, 0, 0.15);
}

.navbar a{
	vertical-align: middle;
	/*height: 75px;*/
  display: inline-block;
  position: relative;
  float: none;
  left: 15px;
  color: white;
  font-size: 1em;
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
  width: 10.7%;
}

.navbar a:hover {
	/*background: #03a9f4;*/
	height: 100%;
}

.navbar-item {
	width: 10%;
}

.search {
	position: relative;
	float: right;
	font-size: 2em;
	text-align: center;
	padding: 12px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
/*.sticky + .content {
  padding-top: 100px;
}
*/
/*-----------------*\
	PRODUCTPAGE
\*-----------------*/

.name {
	grid-column: 1/5;
	font-size: 3em;
	text-align: center;
}


/*-----------------*\
	PRODUCT
\*-----------------*/
#available {
  position: relative;
  width: 50%;
  text-align: center;
  float: left;
  border-radius: 25px 0;
}

#bestelbtn {
	background-color: #01bf01;
	font-weight: bold;
	font-size: 1.3em;
	color: #fff;
	border: none;
	border-radius: 10px;
	height: 45px;
	width: 90%;
	position: relative;
	outline: none;
	
}

#bestelbtn:hover{
	background: #068206;
	position: relative;
}

#bestelamnt {
	position: relative;
	top: 145px;
	left: 37px;
}

#bestelamnt input {
/*	position: relative;
	top: 145px;*/
	left: 37px;
	width: 15%;
	height: 40px;
}

#bestelamnt-span {
	position: relative;
	left: 50px;
}

.carousel-indicators {
	z-index: 1;
}

.carousel-indicators li {
  border: 1px solid #00000075;
}

.carousel-indicators .active {
  background-color: #00000075;
}

.content {
	padding: 80px 10px;
  height: 100%;
  position: relative;
  top: 100px;
}

.info {
	margin-left: 20px;
}

.info h3 {
	position: relative;
	top: -135px;
	text-align: left;
}

.info td:hover {
	font-weight: normal;
}

.info td:nth-child(1) {
	width: 130px;
}

#inputnbr {
  position: relative;
  float: right;
  right: 60px;
  top: -2px;
  text-align: center;
  border: 1px solid black;
}

#order-form {
	position: relative;
	top: 10px;
}

.product-name {
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 2em;
	margin: 20px 0;
}

.product-description {
	position: relative;
	float: right;
	top: -361px;
	width: 45%;
	height: 300px;
	padding: 5px 15px;
	margin-right: 200px;
}

.product-description p{
	display: block;
}

.product-price {
	font-size: 1.5em;
	position: relative;
	top: 120px;
}

.picture {
	height: 400px;
	width: 400px;
	border: 2px dotted black;
	margin-left: 100px;
}

.recommended {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.recommend-div {
	width: 20%;
	padding: 0px 8px;
	text-align: center;
}

.outer-slide-container {
  position: relative;
  max-width: 400px;
  margin-left: 100px;
}

#td-price {
  position: absolute;
  float: right;
  right: 85px;
  font-size: 1.5em;
  bottom: 0%;
}


/*----------------------------*\
	LANDINGHEADER 
\*----------------------------*/

#banner-img {
	max-width: 100%;
	min-width: 100%;
	position: absolute;
	clip: rect(0 2000px 600px 0);
}

#logo-img-landing {
	position: relative;
	top: 200%;
}

.image-header {
	width: 100%;
	height: 85px;
	position: relative;
}

#slogan {
	font-size: 2em;
	position: relative;
  top: 375px;
  text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
    position: relative;
    width: auto;
    margin-bottom: 30px;
    margin-top: 300px;
}

b {
    font-size: 30px;
    color: blue;
}
