#search {
  padding-left: 10px;
  background: #9e9e9e54;
  border-radius: 25px;
  border: none;
  border-bottom: 1px solid #9E9E9E;
  width: 35%;
  height: 40px;
  position: relative;
  left: 34%;
  top: 10px;
}

#search:focus {
	outline: none;
}

.outer-search {
	position: absolute;
	top: 150px;

}

#display {
	width: 33%;
	top: 40px;
  position: absolute;
  left: 35%;
  z-index: 2;
  background: white;
  display: flex;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;	
}

#display span {
	color: black;
}

#display span:hover {
	text-decoration: none;
}

#search-btn {
	position: relative;
    left: 25%;
}

td {
	height: 50px;
}

td:nth-child(1) {
	padding: 10px;
}    

.scroll {
	max-height: 200px;
	overflow-y: auto;
  overflow-x: hidden;
}

.search-p-price {
  position: relative;
  float: right;
}

.search-span:hover {
	font-size: 1.2em;
}

.search-icon {
  background: none;
  border: none;
  position: relative;
  top: 10px;
  left: 30%;	
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}