.image-border {
    display: inline-block;
    padding: 10px;
    margin: 15%;
}

.image-border p {
    height: 35px;
    width: 90%;
    text-align: center; 
}

.outer-div {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 100px;
}

.outer-div a {
    margin: 0 50px;
}

.bottom {
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
    font-size: 1.2em;
}

.filters {
    height: 75px;
}

.page-nav a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    
}

.page-nav a.active {
    background-color: dodgerblue;
    color: white;
}

.page-nav a:hover:not(.active) {background-color: #ddd;}

.slider {
    background: red;
}

.productAmount {
    position: absolute;
    right: 60px;
    top: 20px;
    outline: none; 
}

#product-text {
    width: 20px;
    position: absolute;
    right: 79px;
    top: 0;
}

.sort {
    position: absolute;
    right: 160px;
    top: 20px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

#sort-text {
    position: absolute;
    right: 300px;
    top: 20px;  
}

.show-filter {
    display: block !important; 
    position: absolute;
    height: 500px;
    background: white;
    z-index: 1;
    padding: 25px;
    border-right: 1px solid #797979;
    border-bottom: 1px solid #797979;
}

.display-filter {
    display: none;
}

.outer-div h4 {
    text-align: center;
}

.filter-btn {
    background: none;
    border: none;
    font-size: 2em;
    color: #00bcf2;
    margin: 10px;
    outline: none;
}


#scroll-btn {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    z-index: 1;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll-btn span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll-btn:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}