table {
	position: absolute;
	margin-left: 30%;
	width: 40%
}

thead {
	background-color: #00bcf2;
	color: white;
}

tbody:nth-child(even) {
	background-color: #f2f2f2;
}

td, th {
	border: 1px solid black;
	height: 30px;
	padding-left: 4px;
}

th {
	height: 40px;
}

tfoot {
	background-color: #00bcf2;
	color: white;
}

#winkelbtn {
	position: relative;
	background-color: #cccccc;
	font-size: 1.3em;
	font-weight: bold;
	color: black;
	border-radius: 10px;
	border: none;
	width: 49%;
	height: 45px;
	margin-top: 25%;
	outline: none;
}

#winkelbtn:active {
	position: relative;
	color: black;
	background-color: #acacac;
	outline: none;
}

#betaalbtn {
	position: relative;
	background-color: #01bf01;
	font-size: 1.3em;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	border: none;
	width: 49%;
	height: 45px;
	outline: none
}

#betaalbtn:active {
	position: relative;
	background-color: #068206;
	outline: none;
}