table {
	position: absolute;
	margin-left: 30%;
	width: 40%
}

thead {
	background-color: #00bcf2;
	color: white;
}

tbody:nth-child(even) {
	background-color: #f2f2f2;
}

td, th {
	border: 1px solid black;
	height: 30px;
	padding-left: 4px;
}

th {
	height: 40px;
}

tfoot {
	background-color: #00dcf2;
}