.cat_item {
	margin-top: 40px;
}

.container {
	position: relative;
	top: 500px;
	height: 1200px;
}

.main-footer {
	position: relative;
	bottom: -50px;
}

#search {
	top: 150px !important;
}

#display {
	top: 190px !important;
}

.search-icon {
  top: 150px !important;
  left: 30% !important;	
}

.row {
	margin-top: -10%;
}